body{
    background-color: blue;
    height: 1200px;
    width: 1600px;
    padding: 10%
}

#home{
    border: white;
    height: fit-content;
    width: fit-content;
    border-style: solid;
    padding: 5px;
}